@import url("https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap");
* {
  font-family: "Sono", sans-serif;
  letter-spacing: 4px;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: rox;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.btnam {

    position: relative;
    margin: auto;
    width: 300px;
    height: 100px;
    border: 5px;
    color: greenyellow;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.5s;
    font-size: 2rem;
    outline: green;
    z-index: 1;
}

.btnam:hover {

    box-shadow: inset 300px 0 0 0 greenyellow;
    cursor: pointer;
    color: #fff;
}

.btnam:before {

    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    bottom: 0;
    opacity: 0;

}

.btnam:hover:before {
    transition: 0.5s ease-in-out;
    left: 1;
    right: 1;
    opacity: 1;
    z-index: -1;
  }


/*knopje contactme*/

.btncm {

    position: relative;
    margin: auto;
    width: 300px;
    height: 100px;
    border: 5px;
    color: greenyellow;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.5s;
    font-size: 2rem;
    outline: green;
    z-index: 1;
}

.btncm:hover {

    box-shadow: inset 300px 0 0 0 greenyellow;
    cursor: pointer;
    color: #fff;
}

.btncm:before {

    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    bottom: 0;
    opacity: 0;

}

.btncm:hover:before {
    transition: 0.5s ease-in-out;
    left: 1;
    right: 1;
    opacity: 1;
    z-index: -1;
  }

/* knopje donate*/

.btnd {

    position: relative;
    margin: auto;
    width: 300px;
    height: 100px;
    border: 5px;
    color: greenyellow;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.5s;
    font-size: 2rem;
    outline: green;
    z-index: 1;
}

.btnd:hover {

    box-shadow: inset 300px 0 0 0 greenyellow;
    cursor: pointer;
    color: #fff;
}

.btnd:before {

    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    bottom: 0;
    opacity: 0;

}

.btnd:hover:before {
    transition: 0.5s ease-in-out;
    left: 1;
    right: 1;
    opacity: 1;
    z-index: -1;
  }

  /* homeknop */

#parent{position: relative;}

.btnhome{

    border: 10px;
    border-color: green;
    position: absolute;
    top: 0;
    z-index: 9;
}

.btnhome:hover{

    cursor: pointer;
    transition: ease-in;
}