@import url("https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap");
* {
  font-family: "Sono", sans-serif;
  letter-spacing: 3px;
  /*background-color: black;*/
}

body{
    background-image: url("./bg.png");
    background-repeat: repeat;
}
.container {
  display: flex;
  flex-direction: rox;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.btnam, .btncm, .btnd {

    position: relative;
    margin: auto;
    width: 300px;
    height: 100px;
    border: 1px solid;
    color: green;
    -webkit-text-fill-color: greenyellow;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.5s;
    font-size: 2rem;
    outline: green;
    z-index: 1;
    background-color: transparent;
}

.btnam:hover, .btncm:hover, .btnd:hover{

    box-shadow: inset 300px 0 0 0 greenyellow;
    cursor: pointer;
    color: #fff;
    -webkit-text-fill-color: #fff;
}

.btnam:before {

    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    bottom: 0;
    opacity: 0;

}

.btnam:hover:before,.btncm:hover:before, .btnd:hover:before{
    transition: 0.5s ease-in-out;
    left: 1;
    right: 1;
    opacity: 1;
    z-index: -1;
  }



  /* homeknop */

#parent{position: relative;}

.btnhome{

    position: absolute;
    top: 0;
    z-index: 9;
}

.dtext{

    color: green;
    position: relative;
}

.dtext:hover{

    transition: 1s ease-in-out;
    color: greenyellow;
}

.titeltxt{

    position: relative;
    text-align: center;
    color: greenyellow;
    padding-top: 25px;
}

.btnhome img{
    padding: 12px;
    margin: 5px;
}

.btnhome img:hover{
    background-color: green;
    transition: 1s;
    border-radius: 6px;
}

/*ETHEREUM*/

.copy-link-eth .copy-link-input-eth{

    opacity: 1;
    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.copy-link-btn-eth{

    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.fa-ethereum{

    position: relative;
    opacity: 1;
    color: green;
    border: 1px solid greenyellow;
    border-radius: 25px;
    height: 48px;
    width: 48px;
    top: 12px;
    background-color: rgba(172, 255, 47, 0.195);
}

.copy-link-btn-eth:hover{

    cursor: pointer;
    background-color: green;
    border: 2px solid greenyellow;
    transition: 500ms ease-in-out;
}

/*BTN BTC*/

.copy-link-btc .copy-link-input-btc{

    opacity: 1;
    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.copy-link-btn-btc{

    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.fa-bitcoin{

    position: relative;
    opacity: 1;
    color: green;
    border: 1px solid greenyellow;
    border-radius: 25px;
    height: 47px;
    width: 47px;
    top: 12px;
}

.copy-link-btn-btc:hover{

    cursor: pointer;
    background-color: green;
    border: 2px solid greenyellow;
    transition: 500ms ease-in-out;
}


/*BTN LTC*/

.copy-link-ltc .copy-link-input-ltc{

    opacity: 1;
    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.copy-link-btn-ltc{

    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.copy-link-btn-ltc:hover{

    cursor: pointer;
    background-color: green;
    border: 2px solid greenyellow;
    transition: 500ms ease-in-out;
}

.ltci{

    position: relative;
    border: 1px solid greenyellow;
    border-radius: 25px;
    top: 20px;
}


/*MONERO KNOP*/

.copy-link-mon .copy-link-input-mon{

    opacity: 1;
    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.copy-link-btn-mon{

    height: 52px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: transparent;
    -webkit-text-fill-color: greenyellow;
    position: relative;
}

.fa-monero{

    position: relative;
    opacity: 1;
    color: green;
    border: 1px solid greenyellow;
    border-radius: 25px;
    height: 48px;
    width: 48px;
    top: 12px;
    background-color: rgba(172, 255, 47, 0.195);
}

.copy-link-btn-mon:hover{

    cursor: pointer;
    background-color: green;
    border: 2px solid greenyellow;
    transition: 500ms ease-in-out;
}

.amtxt{

    font-size: 24px;
    position: relative;
    text-align: center;
    color: greenyellow;   
}

/* DEMO-SPECIFIC STYLES */
.typewriter h3 {

    padding-top: 150px;
    color: green;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid greenyellow; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 8.5s steps(100, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    100% { border-color: greenyellow }
  }

  .amtxtfull{

    padding-top: 50px;
    position: relative;
    text-align: center;
    color: green;

  }

